.header {
    align-items: center;
    background-color: #57429d;
    display: flex;
    height: 60px;
    justify-content: center;

    p {
        color: white;
        font-size: 20px;
        text-align: center;
    }
}
